/* You can add global styles to this file, and also import other style files */
.bs-rating-star {
    font-size: 24px;
}
.carousel-item{
    margin-right:0 !important;
}
.carousel-control{
    background: #524d4d;
    height: 60px;
    width: 60px;
    margin-top: 150px;
}